/* CSSの書き方はざっくりと下記のように覚えればOK！
何の{
    どんなものを : どうする ;
} 
*/

/* ちょっと難しい用語で表現すると👇
セレクタ{
    プロパティ : 値 ;
} 
*/

/* 調べるときのコツ
実現したいことをなるべくそのまま検索してみるのが早いです！（例：CSS 画像を真ん中にするには）
そもそもどんなことができるのかな〜という場合やアイデアが欲しい時は、「CSS　チートシート」や「CSS　アイデア」などがおすすめです！

*/



h1{
    color:red;
}

body{
    text-align: center;
    background-color: blanchedalmond;
}

li{
    list-style: none;
}



